{% extends 'base.html'%}
{% block title%}
Главная страница
{% endblock%}
{% block body%}
<form class="decor" method="post">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
    <h3>Оставьте свои данные</h3>
    <input type="text" name="name" id="name" placeholder="Имя...">
    <input type="text" name="surname" id="surname" placeholder="Фамилия...">
    <input type="text" name="city" id="city" placeholder="Город проживания...">
    <select name="sex" id="sex">
        <option selected value="">Выберите пол...</option>>
        <option>Мужской</option>
        <option>Женский</option> </select>
    <input type="submit" value="Отправить">
    {%if error%}
    {{error}}
    {%endif%}
</div>
</form>
{% endblock%}