{% extends 'base.html'%}
{% block title%}
Анкета
{% endblock%}
{% block body%}
<form method="post">
<div class="quiz">

  <h2 class="quiz-question" align="center">1: Часто ли вы извлекаете максимум из имеющегося времени?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_1_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_1_1" name="question1" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_1_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_1_2" name="question1" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_1_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_1_3" name="question1" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_1_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_1_4" name="question1" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_1_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_1_5" name="question1" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
     <h2 class="quiz-question" align="center">2: Часто ли вы привыкли ли вы проверять сделанную вами работу дважды?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_2_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_2_1" name="question2" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_2_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_2_2" name="question2" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_2_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_2_3" name="question2" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_2_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_2_4" name="question2" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_2_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_2_5" name="question2" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">3: Организовываете ли вы свое время?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_3_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_3_1" name="question3" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_3_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_3_2" name="question3" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_3_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_3_3" name="question3" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_3_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_3_4" name="question3" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_3_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_3_5" name="question3" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">4: Вызвались бы вы руководить проектом?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_4_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_4_1" name="question4" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_4_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_4_2" name="question4" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_4_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_4_3" name="question4" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_4_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_4_4" name="question4" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_4_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_4_5" name="question4" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">5: Как часто вы не успеваете что-то сделать за день?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_5_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_5_1" name="question5" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_5_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_5_2" name="question5" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_5_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_5_3" name="question5" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_5_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_5_4" name="question5" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_5_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_5_5" name="question5" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">6: Часто ли у вас появляется чувство усталости?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_6_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_6_1" name="question6" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_6_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_6_2" name="question6" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_6_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_6_3" name="question6" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_6_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_6_4" name="question6" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_6_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_6_5" name="question6" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">7: Есть ли у вас склонность к бессоннице?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_7_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_7_1" name="question7" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_7_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_7_2" name="question7" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_7_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_7_3" name="question7" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_7_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_7_4" name="question7" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_7_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_7_5" name="question7" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">8: Легко ли вас вывести из себя?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_8_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_8_1" name="question8" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_8_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_8_2" name="question8" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_8_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_8_3" name="question8" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_8_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_8_4" name="question8" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_8_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_8_5" name="question8" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">9: Часто ли вам без видимой на то причины становится тревожно?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_9_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_9_1" name="question9" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_9_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_9_2" name="question9" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_9_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_9_3" name="question9" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_9_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_9_4" name="question9" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_9_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_9_5" name="question9" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">10: Есть ли у вас проблемы с аппетитом?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_10_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_10_1" name="question10" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_10_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_10_2" name="question10" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_10_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_10_3" name="question10" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_10_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_10_4" name="question10" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_10_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_10_5" name="question10" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">11: Нравится ли вам узнавать об открытиях в области экономики и бизнеса?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_11_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_11_1" name="question11" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_11_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_11_2" name="question11" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_11_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_11_3" name="question11" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_11_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_11_4" name="question11" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_11_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_11_5" name="question11" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">12: Нравится ли вам искать и находить способы зарабатывания денег?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_12_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_12_1" name="question12" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_12_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_12_2" name="question12" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_12_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_12_3" name="question12" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_12_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_12_4" name="question12" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_12_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_12_5" name="question12" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">13: Хотели бы вы узнать как работает экономика?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_13_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_13_1" name="question13" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_13_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_13_2" name="question13" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_13_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_13_3" name="question13" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_13_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_13_4" name="question13" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_13_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_13_5" name="question13" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">14: Как часто вы подрабатывали?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_14_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_14_1" name="question14" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_14_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_14_2" name="question14" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_14_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_14_3" name="question14" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_14_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_14_4" name="question14" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_14_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_14_5" name="question14" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">15: Часто ли вы задумываетесь о создании стартапа?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_15_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_15_1" name="question15" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_15_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_15_2" name="question15" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_15_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_15_3" name="question15" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_15_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_15_4" name="question15" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_15_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_15_5" name="question15" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">16: Считаете ли сферу IT приоритетным направлением развития?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_16_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_16_1" name="question16" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_16_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_16_2" name="question16" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_16_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_16_3" name="question16" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_16_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_16_4" name="question16" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_16_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_16_5" name="question16" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">17: Как часто вы бываете на технических выставках или на мероприятиях схожего типа?</h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_17_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_17_1" name="question17" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_17_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_17_2" name="question17" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_17_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_17_3" name="question17" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_17_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_17_4" name="question17" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_17_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_17_5" name="question17" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">18: Нравится ли вам собирать и ремонтировать компьютеры? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_18_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_18_1" name="question18" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_18_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_18_2" name="question18" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_18_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_18_3" name="question18" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_18_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_18_4" name="question18" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_18_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_18_5" name="question18" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">19: Нравится ли вам строить чертежи, схемы, графики, в том числе на компьютере? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_19_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_19_1" name="question19" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_19_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_19_2" name="question19" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_19_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_19_3" name="question19" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_19_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_19_4" name="question19" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_19_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_19_5" name="question19" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">20: Считаете ли вы себя творческим человеком? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_20_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_20_1" name="question20" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_20_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_20_2" name="question20" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_20_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_20_3" name="question20" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_20_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_20_4" name="question20" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_20_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_20_5" name="question20" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">21: Нравится ли вам ходить в походы, бывать в новых неизведанных местах? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_21_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_21_1" name="question21" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_21_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_21_2" name="question21" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_21_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_21_3" name="question21" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_21_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_21_4" name="question21" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_21_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_21_5" name="question21" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">22: Мотивируете ли вы людей? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_22_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_22_1" name="question22" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_22_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_22_2" name="question22" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_22_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_22_3" name="question22" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_22_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_22_4" name="question22" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_22_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_22_5" name="question22" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">23: Часто ли вы выходите из себя? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "очень редко", а 5 - "очень часто"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_23_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_23_1" name="question23" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_23_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_23_2" name="question23" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_23_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_23_3" name="question23" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_23_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_23_4" name="question23" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_23_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_23_5" name="question23" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <h2 class="quiz-question" align="center">24: Получается ли у вас быстро решить возникший конфликт? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_24_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_24_1" name="question24" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_24_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_24_2" name="question24" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_24_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_24_3" name="question24" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_24_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_24_4" name="question24" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_24_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_24_5" name="question24" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
        <h2 class="quiz-question" align="center">25: Будь вы начальником, то вам бы хотелось вызывать в подчиненных чувство страха? </h2>
    <h3 class="quiz-question" align="center">Ответ должен содержать ответ от 1 до 5, где 1 - "точно нет", а 5 - "точно да"</h3>

  <div class="container_of_radio_buttons">
       <label for="answer_25_1">
      <div class="specific_block_radio_button" >

        <div class="specific_radio_button" >
          <input type="radio" id="answer_25_1" name="question25" class="real-radio" value="1">
          <span class="custom-radio"> </span>
        </div>

        <div class="specific_radio_button" >
          <h3>1</h3>
        </div>

       </div>
      </label>
    <label for="answer_25_2">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_25_2" name="question25" class="real-radio" value="2">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>2</h3>
      </div>

    </div>
    </label>
    <label for="answer_25_3">

   <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_25_3" name="question25" class="real-radio" value="3">
        <span class="custom-radio"> </span>
     </div>

      <div class="specific_radio_button" >
        <h3>3</h3>
     </div>

    </div>
  </label>
      <label for="answer_25_4">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_25_4" name="question25" class="real-radio" value="4">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>4</h3>
      </div>

    </div>
    </label>
      <label for="answer_25_5">
    <div class="specific_block_radio_button" >

      <div class="specific_radio_button" >
         <input type="radio" id="answer_25_5" name="question25" class="real-radio" value="5">
        <span class="custom-radio"> </span>
      </div>

      <div class="specific_radio_button" >
        <h3>5</h3>
      </div>

    </div>
    </label>
</div>
    <div class="submit-batton">
        <input type="submit" value="Отправить">
    </div>
</div>
</form>
<footer class="footer">
</footer>
{% endblock%}